* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

.vantagens {
    padding: 60px 10%;
    background: radial-gradient(circle at center, #0f0f0f 0%, #0a0a0a 100%);
}

.texto-intro h4 {
    color: #1aa80d;
    letter-spacing: 2px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.texto-intro span {
    color:#1aa80d;
    font-style: italic;
    font-weight: 600;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    gap: 25px;
   
}

.card {
    background: #1a1a1a;
    border-radius: 15px;
    flex: 1;
    min-width: 260px;
    max-width: 340px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 1px 15px 50px rgba(4, 182, 19, 0.521);
}

.icon {
    font-size: 30px;
    color: #ffdd55;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    color: #ccc;
    font-size: 0.95rem;
    line-height: 1.6;
}

/* Responsivo */
@media (max-width: 900px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}