* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

.vantagens {
    padding: 60px 10%;
    background: radial-gradient(circle at center, #0f0f0f 0%, #0a0a0a 100%);
}

.texto-intro h4 {
    color: #1aa80d;
    letter-spacing: 2px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.texto-intro span {
    color:#1aa80d;
    font-style: italic;
    font-weight: 600;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    gap: 25px;
   
}

.card {
    background: #1a1a1a;
    border-radius: 15px;
    flex: 1;
    min-width: 260px;
    max-width: 340px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 1px 15px 50px rgba(4, 182, 19, 0.521);
}

.icon {
    font-size: 30px;
    color: #ffdd55;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    color: #ccc;
    font-size: 0.95rem;
    line-height: 1.6;
}

<<<<<<< HEAD
=======
.planta {
    display: flex;
    justify-content: center;
    
}

.destaque {
    border: 1px solid rgba(255, 221, 85, 0.3);
    background: linear-gradient(145deg, #1a1a1a 60%, rgba(255, 221, 85, 0.08));
}

>>>>>>> a8731b6fccf2f656001b60efb136b94b6f5f091a
/* Responsivo */
@media (max-width: 900px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

.section-02{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

img{
    width: 40rem;
    height: 25rem;
}

.divtexto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h5{
    font-size: 2rem;
}

.divtexto p{
    font-size: 20px;
}

footer {
    background-color: #000000;
    color: white;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    width: 22%;
    margin-bottom: 20px;
}

.footer-section h6 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #f4f4f4;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #f4f4f4;
}

.footer-section input[type="email"] {
    padding: 10px;
    width: 80%;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
}

.footer-section button {
    padding: 10px;
    background-color: #0a5f2d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-section button:hover {
    background-color: #39b314;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 80%;
        text-align: center;
    }
}